@import "tailwindcss";

@theme {
  --font-serif: "Cutive Mono", monospace;
}

body {
  margin: 0;
  font-family: var(--font-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #816a57;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  margin: 0;
}

h1 {
  font-size: clamp(1rem, 1rem + 2vw, 2.625rem);
  letter-spacing: -1.68px;
}

h2 {
  font-size: clamp(0.75rem, 1rem + 0.5vw, 1.5rem);
  line-height: 118%;
  letter-spacing: -0.24px;
}

p {
  margin: 0;
}